@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

:root {
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    
    --paragraphs: hsla(0, 0%, 100%, 0.75);
    --very-light-grey: hsl(0, 0%, 95%);   
}

html {
    font-size: 15px;
    box-sizing: border-box;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Lexend Deca', sans-serif;
}

h1 {
    font-family: 'Big Shoulders Display', cursive;
}